<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Entree:</strong>
  <%= @order.entree %>
</p>

<p>
  <strong>Sideone:</strong>
  <%= @order.sideOne %>
</p>

<p>
  <strong>Sidetwo:</strong>
  <%= @order.sideTwo %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
